* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(./assests/img/matrix.jpg);

}
.title-conteudo {
    margin-top: 5%;
    margin-left: 35%;
    text-align: center;
    border-radius: 1rem;
    color: rgb(126, 238, 62);
    width: 600px;
    height: 80px;
    background-color: #000;
    border: #fff solid 1px;
    opacity: 70%;

}
.title-conteudo h1 {
padding: 1rem;
opacity: 100%;
}

.conteudo {
display: flex;
flex-direction: row;
justify-content: center;
gap: 35px;
}
label, textarea {
  display: block;
}

textarea {padding: 1.5rem;
  margin: 15px 0;
  font-size: 1.5rem;
  color: #fff;
  width: 550px;
  height: 500px;
  border-radius: 1rem;
  background-color: #000;
  border: #fff solid 3px;
  opacity: 70%;
  
}
textarea:focus {
background-color: #000000;
border: yellow solid 3px;
}
input {
background-color: rgb(52, 52, 59);
border: #fff solid 1px;
color: rgb(126, 238, 62);
border-radius: 1rem;
padding: 1rem;
font-size: 1.5rem;
}
input:hover {
    background-color: #000;
}
.botoes-criptografia {
display:flex;
flex-direction: column;
justify-content: center;
gap: 30px;
}
